.test:hover
{
	width:200px;
	height:200px;
	transform:rotate(180deg);
	-moz-transform:rotate(180deg); /* Firefox 4 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
	-o-transform:rotate(180deg); /* Opera */
}
pre{
	font-size:20px;
	line-height:24px;
}
/*
重点 #069
部分代码 #9393d4
注释 #008000
*/
